############ AMBER99 ALL ATOM PROTOMC AMINOACID TEMPLATE FILE ###################
#
#     file created by
#     Caterina Barillari        January 2004
#      Based on AMBER99 forcefield (C) parm99
#
##################################################
########## TIP3P WATER ###########################
SOLVENT     T3P      0.150    15.0
ATOMS ############################################
  O00  781 781
  H01  782 782
  H02  782 782
###########################################
##
#
##############################################################################
########## TIP4P WATER ###########################
SOLVENT     T4P      0.150    15.0
ATOMS ############################################
  O00  783 783
  H01  784 784
  H02  784 784
  M03  785 785
###
#
# ASPARTIC ACID    - ACIDIC             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                  HB2-CB-HB1      
#                      |
#                 OD1--CG--OD2
#
##########################################
#
RESIDUE     ASP
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N    168   721   443  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   180   723   455  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C    178   719   461  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN   169   722   444  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   182   725   457  CA    0      1.530  N      0    111.100  C      0   -120.000
  CG   184   727   459  CB    0      1.517  CA     0    111.600  N      0    180.000
  OD1  185   728   460  CG    0      1.250  CB     0    116.700  CA     0    -90.000
  OD2  185   728   460  CG    0      1.250  CB     0    116.700  OD1    0    180.000
  HA   181   724   456  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  183   726   458  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  183   726   458  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O    179   720   462  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  OD1-CG -CB      2 1      0.50
  OD2-CG -CB      2 1      0.50
  OD1-CG -OD2     0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB2-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  CB -CA -HA      0 1      0.00
  HA -CA -N       0 1      0.00
  C  -CA -N       0 1      0.00
  C  -CA -HA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1     10.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  OD1-CG -CB -CA  2 1     15.00
  OD1-CG -CB -HB1 0 1      0.00
  OD1-CG -CB -HB2 0 1      0.00
  OD2-CG -CB -CA  0 1      0.00
  OD2-CG -CB -HB1 0 1      0.00
  OD2-CG -CB -HB2 0 1      0.00
######################################
#
#
# HISTIDINE  (STRANGE!! - dibasic) protonated
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1    
#                      |
#                     CG
#                    /  \
#             HND--ND1   CD2--HD
#                   |    |
#              HE--CE1---NE2--HNE
#
##################################################
#
RESIDUE     HIP
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N    109   644   378  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   111   646   380  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C    124   659   393  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN   110   645   379  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   113   648   382  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG   115   650   384  CB    0      1.517  CA     0    117.300  N      0    180.000
  ND1  116   651   385  CG    0      1.390  CB     0    122.000  CA     0    180.000
  CE1  118   653   387  ND1   0      1.320  CG     0    108.000  CB     0    180.000
  HND  117   652   386  ND1   0      1.010  CG     0    126.000  CE1    0    180.000
  NE2  120   655   389  CE1   0      1.310  ND1    0    109.000  CG     0      0.000
  HE   119   654   388  CE1   0      1.090  ND1    0    120.000  NE2    0    180.000
  CD2  122   657   391  NE2   0      1.360  CE1    0    110.000  ND1    0      0.000
  HD   123   658   392  CD2   0      1.090  NE2    0    120.000  CG     0    180.000
  HNE  121   656   390  NE2   0      1.010  CE1    0    125.000  CD2    0    180.000
  HA   112   647   381  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  114   649   383  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  114   649   383  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O    125   660   394  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB2-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  CB -CA -HA      0 1      0.00
  HA -CA -N       0 1      0.00
  C  -CA -N       0 1      0.00
  C  -CA -HA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  ND1-CG -CB -CA  2 1     10.00
  ND1-CG -CB -HB1 0 1      0.00
  ND1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
#######################################
#
#
# HISTIDINE  (STRANGE!! - dibasic)
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1    
#                      |
#                     CG
#                    /  \
#                  ND1   CD2--HD
#                   |    |
#              HE--CE1---NE2--HNE
#
##################################################
#
#
RESIDUE     HIE
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   630   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    96   632   364  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   376  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   631   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    98   634   366  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG   101   636   368  CB    0      1.517  CA     0    117.300  N      0    180.000
  ND1  102   637   369  CG    0      1.390  CB     0    122.000  CA     0    180.000
  CE1  103   638   370  ND1   0      1.320  CG     0    108.000  CB     0    180.000
  NE2  105   640   372  CE1   0      1.310  ND1    0    109.000  CG     0      0.000
  HE   104   639   371  CE1   0      1.090  ND1    0    120.000  NE2    0    180.000
  CD2  107   642   374  NE2   0      1.360  CE1    0    110.000  ND1    0      0.000
  HNE  106   641   373  NE2   0      1.010  CE1    0    125.000  CD2    0    180.000
  HD   108   643   375  CD2   0      1.090  NE2    0    120.000  CG     0    180.000
  HA    97   633   365  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   99   635   367  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2   99   635   367  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8   523   377  C     0      1.229  CA     0    120.500  N      1    180.000 
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB2-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  CB -CA -HA      0 1      0.00
  HA -CA -N       0 1      0.00
  C  -CA -N       0 1      0.00
  C  -CA -HA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  ND1-CG -CB -CA  2 1     10.00
  ND1-CG -CB -HB1 0 1      0.00
  ND1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
######################################
#
#
# HISTIDINE  (STRANGE!! - dibasic) deprotonated (well the proton moves!)
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1    
#                      |
#                     CG
#                    /  \
#             HND--ND1   CD2--HD
#                   |    |
#              HE--CE1---NE2
#
#########################################
#
RESIDUE     HID
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   616   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    84   618   350  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   362  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   617   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    86   620   352  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG    88   622   354  CB    0      1.517  CA     0    117.300  N      0    180.000
  ND1   89   623   355  CG    0      1.390  CB     0    122.000  CA     0    180.000
  CE1   91   625   357  ND1   0      1.320  CG     0    108.000  CB     0    180.000
  HND   90   624   356  ND1   0      1.010  CG     0    126.000  CE1    0    180.000
  NE2   93   627   359  CE1   0      1.310  ND1    0    109.000  CG     0      0.000
  HE    92   626   358  CE1   0      1.090  ND1    0    120.000  NE2    0    180.000
  CD2   94   628   360  NE2   0      1.360  CE1    0    110.000  ND1    0      0.000
  HD    95   629   361  CD2   0      1.090  NE2    0    120.000  CG     0    180.000
  HA    85   619   351  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   87   621   353  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2   87   621   353  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8   523   363  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  ND1-CG -CB -CA  2 1     10.00
  ND1-CG -CB -HB1 0 1      0.00
  ND1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
#######################################
#
#
# GLUTAMINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1 
#                      |
#                 HG2-CG-HG1
#                      |
#                     CD==OE1
#                      |
#                HE1--NE2--HE2     
#
##################################################
#
RESIDUE     GLN
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   587   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    57   589   321  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   331  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   588   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    59   591   323  CA    0      1.535  N      0    111.100  C      0   -120.000
  CG    61   593   325  CB    0      1.524  CA     0    113.400  N      0    180.000
  CD    63   595   327  CG    0      1.524  CB     0    113.400  CA     0    180.000
  NE2   65   597   329  CD    0      1.327  CG     0    118.400  CB     0    180.000
  HE1   66   598   330  NE2   0      1.008  CD     0    119.200  CG     0    180.000
  HE2   66   598   330  NE2   0      1.008  CD     0    119.200  HE1    0    180.000
  OE1   64   596   328  CD    0      1.223  CG     0    120.900  NE2    0    180.000
  HA    58   590   322  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   60   592   324  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2   60   592   324  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1   62   594   326  CG    0      1.090  CB     0    109.500  CD     0    120.000
  HG2   62   594   326  CG    0      1.090  CB     0    109.500  CD     0   -120.000
  O      8   523   332  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CD -CG -CB      2 1      0.50
  OE1-CD -CG      2 1      0.50
  NE2-CD -CG      2 1      0.50
  NE2-CD -OE1     0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB2-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  CD -CG -HG1     0 1      0.00
  CD -CG -HG2     0 1      0.00
  HG1-CG -CB      0 1      0.00
  HG2-CG -CB      0 1      0.00
  HG1-CG -HG2     0 1      0.00
  CB -CA -HA      0 1      0.00
  HA -CA -N       0 1      0.00
  C  -CA -N       0 1      0.00
  C  -CA -HA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD -CG -CB -CA  2 1     10.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  CD -CG -CB -CA  0 1      0.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00
  HG1-CG -CB -HB1 0 1      0.00
  HG1-CG -CB -HB2 0 1      0.00
  HG2-CG -CB -CA  0 1      0.00
  HG2-CG -CB -HB1 0 1      0.00
  HG2-CG -CB -HB2 0 1      0.00
  NE2-CD -CG -CB  2 1     10.00
  NE2-CD -CG -HG1 0 1      0.00
  NE2-CD -CG -HG2 0 1      0.00
  OE1-CD -CG -CB  0 1      0.00
  OE1-CD -CG -HG1 0 1      0.00
  OE1-CD -CG -HG2 0 1      0.00
  HE1-NE2-CD -CG  2 1     15.00
  HE1-NE2-CD -OE1 0 1      0.00
  HE2-NE2-CD -CG  0 1      0.00
  HE2-NE2-CD -OE1 0 1      0.00
############################################
#
# ALANINE   - NEUTRAL          
#                  O  HA  HN          O  HA  HN1
#                  |   |  |           |   |  |
#                --C--CA--N--     OXT-C--CA--N-HN2
#                      |                  |  |
#                  HB2-CB-HB1        HB1-CB  HN3
#                      |                 ||
#                     HB3              HB2 HB3
#
##################################################
#
RESIDUE     ALA
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   516   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA     3   518   253  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   257  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   517   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB     5   520   255  CA    0      1.525  N      0    111.100  C      0   -120.000
  HA     4   519   254  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1    6   521   256  CB    0      1.090  CA     0    109.500  N      0    180.000
  HB2    6   521   256  CB    0      1.090  CA     0    109.500  HB1    0    120.000
  HB3    6   521   256  CB    0      1.090  CA     0    109.500  HB1    0   -120.000
  O      8   523   258  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  N  -CA -HA      0 1      0.00
  N  -CA -C       0 1      0.00
  HA -CA -C       0 1      0.00
DIHEDRALS ############################
  HB1-CB -CA -N   2 1     10.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  HB3-CB -CA -N   0 1      0.00
  HB3-CB -CA -C   0 1      0.00
  HB3-CB -CA -HA  0 1      0.00
#######################################
#
#
# THREONINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                  HB-CB--OG1-HG
#                      |
#                 HG2-CG2-HG1      
#                      |  
#                      HG3
#
##################################################
#
RESIDUE     THR
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   536   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    17   538   271  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   279  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   537   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    19   540   273  CA    0      1.525  N      0    121.100  C      0   -120.000
  OG1   23   544   277  CB    0      1.430  CA     0    109.470  N      0     60.000
  HG    24   545   278  OG1   0      0.960  CB     0    109.470  CA     0    180.000
  CG2   21   542   275  CB    0      1.525  CA     0    109.470  OG1    0   -120.000
  HA    18   539   272  CA    0      1.090  N      0    109.500  C      0    120.000
  HB    20   541   274  CB    0      1.090  CA     0    109.500  OG1    0    120.000
  HG1   22   543   278  CG2   0      1.090  CB     0    109.500  CA     0    180.000
  HG2   22   543   278  CG2   0      1.090  CB     0    109.500  HG1    0    120.000
  HG3   22   543   278  CG2   0      1.090  CB     0    109.500  HG1    0   -120.000
  O      8   523   280  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG2-CB -CA      2 1      0.50
  OG1-CB -CA      2 1      0.50
  CG2-CB -OG1     0 1      0.00
  HG -OG1-CB      2 1      0.50
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG2-CB -HB      0 1      0.00
  HB -CB -CA      0 1      0.00
  HB -CB -OG1     0 1      0.00
DIHEDRALS ############################
  OG1-CB -CA -N   2 1     10.00
  OG1-CB -CA -C   0 1      0.00
  OG1-CB -CA -HA  0 1      0.00
  CG2-CB -CA -N   0 1      0.00
  CG2-CB -CA -C   0 1      0.00
  CG2-CB -CA -HA  0 1      0.00
  HB -CB -CA -N   0 1      0.00
  HB -CB -CA -C   0 1      0.00
  HB -CB -CA -HA  0 1      0.00
  HG -OG1-CB -CA  2 1     15.00
  HG -OG1-CB -CG2 0 1      0.00
  HG -OG1-CB -HB  0 1      0.00
  HG1-CG2-CB -CA  2 1     15.00
  HG1-CG2-CB -OG1 0 1      0.00
  HG1-CG2-CB -HB  0 1      0.00
  HG2-CG2-CB -CA  0 1      0.00
  HG2-CG2-CB -OG1 0 1      0.00
  HG2-CG2-CB -HB  0 1      0.00
  HG3-CG2-CB -CA  0 1      0.00
  HG3-CG2-CB -OG1 0 1      0.00
  HG3-CG2-CB -HB  0 1      0.00
#############################################
#
#
# TYROSINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |
#                 HB2-CB-HB1
#                      |      
#                     CG
#                    /  \
#            HD1--CD1    CD2--HD2
#                  |      |
#            HE1--CE1    CE2--HE2
#                    \  /
#                     CZ
#                      |
#                      OH--HH
#
#
##################################################
#
RESIDUE     TYR
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   695   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   156   697   429  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   441  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   696   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   158   699   431  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG   160   701   433  CB    0      1.517  CA     0    117.300  N      0    180.000
  CD1  161   702   434  CG    0      1.400  CB     0    120.000  CA     0    180.000
  CE1  163   704   436  CD1   0      1.400  CG     0    120.000  CB     0    180.000
  HD1  162   703   435  CD1   0      1.090  CG     0    120.000  CE1    0    180.000
  CZ   165   706   438  CE1   0      1.400  CD1    0    120.000  CG     0      0.000
  HE1  164   705   437  CE1   0      1.090  CD1    0    120.000  CZ     0    180.000
  CE2  163   704   436  CZ    0      1.400  CE1    0    120.000  CD1    0      0.000
  OH   166   707   439  CZ    0      1.360  CE1    0    120.000  CE2    0    180.000
  CD2  161   702   434  CE2   0      1.400  CZ     0    120.000  CE1    0      0.000
  HE2  164   705   437  CE2   0      1.090  CZ     0    120.000  CD2    0    180.000
  HD2  162   703   435  CD2   0      1.090  CE2    0    120.000  CG     0    180.000
  HH   167   708   440  OH    0      0.960  CZ     0    113.000  CE1    0      0.000
  HA   157   698   430  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  159   700   432  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  159   700   432  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8   523   442  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CD1-CG -CB      2 1      0.50
  CD2-CG -CB      0 1      0.00
  OH -CZ -CE1     2 1      0.50
  OH -CZ -CE2     0 1      0.00
  HH -OH -CZ      2 1      0.50
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD1-CG -CB -CA  2 1     10.00
  CD1-CG -CB -HB1 0 1      0.00
  CD1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
  HH -OH -CZ -CE1 2 1     15.00
  HH -OH -CZ -CE2 0 1      0.00
########################################
#
#
# GLUTAMIC ACID   ACIDIC
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1    
#                      |
#                 HG2-CG-HG1
#                      |
#                OE1--CD--OE2  
#
##################################################
#
RESIDUE     GLU
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N    168   709   443  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   170   711   445  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C    178   719   453  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN   169   710   444  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   172   713   447  CA    0      1.529  N      0    111.100  C      0   -120.000
  CG   174   715   449  CB    0      1.529  CA     0    112.700  N      0    180.000
  CD   176   717   451  CG    0      1.521  CB     0    112.300  CA     0    180.000
  OE1  177   718   452  CD    0      1.250  CG     0    117.000  CB     0    -90.000
  OE2  177   718   452  CD    0      1.250  CG     0    117.000  OE1    0    180.000
  HA   171   712   446  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  173   714   448  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  173   714   448  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1  175   716   450  CG    0      1.090  CB     0    109.500  CD     0    120.000
  HG2  175   716   450  CG    0      1.090  CB     0    109.500  CD     0   -120.000
  O    179   720   454  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CD -CG -CB      2 1      0.50
  OE1-CD -CG      2 1      0.50
  OE2-CD -CG      2 1      0.50
  OE1-CD -OE2     0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD -CG -CB -CA  2 1     10.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00
  HG1-CG -CB -HB1 0 1      0.00
  HG1-CG -CB -HB2 0 1      0.00
  HG2-CG -CB -CA  0 1      0.00
  HG2-CG -CB -HB1 0 1      0.00
  HG2-CG -CB -HB2 0 1      0.00
  OE1-CD -CG -CB  2 1     15.00
  OE1-CD -CG -HG1 0 1      0.00
  OE1-CD -CG -HG2 0 1      0.00
  OE2-CD -CG -CB  0 1      0.00
  OE2-CD -CG -HG1 0 1      0.00
  OE2-CD -CG -HG2 0 1      0.00
#####################################
#
#
# PROLINE    - NEUTRAL             
#                  O  HA      
#                  |   |      
#                --C--CA--N--   HD2
#                      |    \  /
#                 HB1-CB--CG--CD-HD1
#                      |  ||
#                    HB2 HG1HG2
#
##################################################
#
RESIDUE     PRO
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N    202   745   479  C    -1      1.337  CA    -1    117.000  N     -1    180.000
  CA   209   752   486  N     0      1.451  C     -1    120.600  CA    -1   -175.200
  C    211   753   488  CA    0      1.522  N      0    111.100  C     -1    -70.000
  HN   809   746   809  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   207   751   484  CA    0      1.484  N      0    104.000  C      0   -120.000
  CG   205   749   482  CB    0      1.510  CA     0    108.560  N      0      3.700
  CD   203   747   480  CG    0      1.500  CB     0    106.000  CA     0    -16.300
  HA   210   748   487  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  208   750   485  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  208   750   485  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1  206   750   483  CG    0      1.090  CB     0    109.500  CD     0    120.000
  HG2  206   750   483  CG    0      1.090  CB     0    109.500  CD     0   -120.000
  HD1  204   748   481  CD    0      1.090  CG     0    109.500  N      0    120.000
  HD2  204   748   481  CD    0      1.090  CG     0    109.500  N      0   -120.000
  O    212   754   489  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
  CB -CA          0 1      0.00
  CG -CB          0 1      0.00
  CD -CG          0 1      0.00
  N  -CD          0 1      0.00
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CD -CG -CB      2 1      0.50
  N  -CD -CG      0 1      0.00
  CD -N  -CA      0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB2-CB -CA      0 1      0.00
  CD -CG -HG1     0 1      0.00
  CD -CG -HG2     0 1      0.00
  HG1-CG -HG2     0 1      0.00
  HG1-CG -CB      0 1      0.00
  HG2-CG -CB      0 1      0.00
  N  -CD -HD1     0 1      0.00
  N  -CD -HD2     0 1      0.00
  HD1-CD -HD2     0 1      0.00
  HD1-CD -CG      0 1      0.00
  HD2-CD -CG      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      2.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD -CG -CB -CA  2 1      2.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00  
  HG1-CG -CB -HB1 0 1      0.00  
  HG1-CG -CB -HB2 0 1      0.00  
  HG2-CG -CB -CA  0 1      0.00  
  HG2-CG -CB -HB1 0 1      0.00  
  HG2-CG -CB -HB2 0 1      0.00  
  N  -CD -CG -CB  0 1      0.00
  CD -N  -CA -CB  0 1      0.00
#######################################
#
#
# LEUCINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#             HD1 HB2-CB-HB1  HD4
#                \     |     /
#            HD2-CD1--CG--CD2-HD5
#                 |    |   |
#                HD3  HG  HD6
#
##################################################
#
RESIDUE     LEU
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   546   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    25   548   281  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   289  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   547   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    27   550   283  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG    29   552   285  CB    0      1.555  CA     0    126.200  N      0    180.000
  CD1   31   554   287  CG    0      1.532  CB     0    118.700  CA     0    180.000
  CD2   31   554   287  CG    0      1.532  CB     0    118.700  CD1    0    120.000
  HA    26   549   282  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   28   551   284  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2   28   551   284  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG    30   553   286  CG    0      1.090  CB     0    109.500  CD1    0   -120.000
  HD1   32   555   288  CD1   0      1.090  CG     0    109.500  CB     0    180.000
  HD2   32   555   288  CD1   0      1.090  CG     0    109.500  HD1    0    120.000
  HD3   32   555   288  CD1   0      1.090  CG     0    109.500  HD1    0   -120.000
  HD4   32   555   288  CD2   0      1.090  CG     0    109.500  CB     0    180.000
  HD5   32   555   288  CD2   0      1.090  CG     0    109.500  HD4    0    120.000
  HD6   32   555   288  CD2   0      1.090  CG     0    109.500  HD4    0   -120.000
  O      8   523   290  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CD1-CG -CB      2 1      0.50
  CD2-CG -CB      2 1      0.50
  CD2-CG -CD1     0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  CD1-CG -HG      0 1      0.00
  HG -CG -CB      0 1      0.00
  HG -CG -CD2     0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1     10.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD1-CG -CB -CA  2 1     15.00
  CD1-CG -CB -HB1 0 1      0.00
  CD1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
  HG -CG -CB -CA  0 1      0.00
  HG -CG -CB -HB1 0 1      0.00
  HG -CG -CB -HB2 0 1      0.00
  HD1-CD1-CG -CB  1 1     15.00
  HD1-CD1-CG -CD2 0 1      0.00
  HD1-CD1-CG -HG  0 1      0.00
  HD2-CD1-CG -CB  0 1      0.00
  HD2-CD1-CG -CD2 0 1      0.00
  HD2-CD1-CG -HG  0 1      0.00
  HD3-CD1-CG -CB  0 1      0.00
  HD3-CD1-CG -CD2 0 1      0.00
  HD3-CD1-CG -HG  0 1      0.00
  HD4-CD2-CG -CB  1 1     15.00
  HD4-CD2-CG -CD1 0 1      0.00
  HD4-CD2-CG -HG  0 1      0.00
  HD5-CD2-CG -CB  0 1      0.00
  HD5-CD2-CG -CD1 0 1      0.00
  HD5-CD2-CG -HG  0 1      0.00
  HD6-CD2-CG -CB  0 1      0.00
  HD6-CD2-CG -CD1 0 1      0.00
  HD6-CD2-CG -HG  0 1      0.00
#########################################
#
#
# PHENYLALANINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1      
#                      |
#                     CG
#                   /    \
#             HD1--CD1    CD2--HD2
#                  |      |
#             HE1--CE1    CE2--HE2
#                   \    /
#                     CZ
#                     |
#                     HZ
#
##################################################
#
RESIDUE     PHE
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   682   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   145   684   416  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   427  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   683   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   147   686   418  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG   149   688   420  CB    0      1.517  CA     0    117.300  N      0    180.000
  CD1  150   689   421  CG    0      1.400  CB     0    120.000  CA     0    180.000
  CE1  152   691   423  CD1   0      1.400  CG     0    120.000  CB     0    180.000
  HD1  151   690   422  CD1   0      1.090  CG     0    120.000  CE1    0    180.000
  CZ   154   693   425  CE1   0      1.400  CD1    0    120.000  CG     0      0.000
  HE1  153   692   424  CE1   0      1.090  CD1    0    120.000  CZ     0    180.000
  CE2  152   691   423  CZ    0      1.400  CE1    0    120.000  CD1    0      0.000
  HZ   155   694   426  CZ    0      1.090  CE1    0    120.000  CE2    0    180.000
  CD2  150   689   421  CE2   0      1.400  CZ     0    120.000  CE1    0      0.000
  HE2  153   692   424  CE2   0      1.090  CZ     0    120.000  CD2    0    180.000
  HD2  151   690   422  CD2   0      1.090  CE2    0    120.000  CG     0    180.000
  HA   146   685   417  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  148   687   419  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  148   687   419  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8   523   428  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  CD1-CG -CB      2 1      0.50
  CD2-CG -CB      0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00  
  HB1-CB -CA -C   0 1      0.00  
  HB1-CB -CA -HA  0 1      0.00  
  HB2-CB -CA -N   0 1      0.00  
  HB2-CB -CA -C   0 1      0.00  
  HB2-CB -CA -HA  0 1      0.00  
  CD1-CG -CB -CA  2 1     10.00
  CD1-CG -CB -HB1 0 1      0.00
  CD1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
########################################
#
#
# METHIONINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1
#                      |
#                 HG2-CG-HG1 HC1
#                      |    /
#                     SD--CE-HC2
#                          |
#                         HC3
#
##################################################
#
RESIDUE     MET
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   770   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   224   771   505  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   514  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   771   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   226   774   507  CA    0      1.534  N      0    121.100  C      0   -120.000
  CG   228   776   509  CB    0      1.528  CA     0    113.100  N      0    180.000
  SD   230   778   511  CG    0      1.810  CB     0    115.600  CA     0    180.000
  CE   231   779   512  SD    0      1.780  CG     0     98.900  CB     0    180.000
  HA   225   773   506  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  227   775   508  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  227   775   508  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1  229   777   510  CG    0      1.090  CB     0    109.500  SD     0    120.000
  HG2  229   777   510  CG    0      1.090  CB     0    109.500  SD     0   -120.000
  HE1  232   780   513  CE    0      1.090  SD     0    109.500  CG     0    180.000
  HE2  232   780   513  CE    0      1.090  SD     0    109.500  HE1    0    120.000
  HE3  232   780   513  CE    0      1.090  SD     0    109.500  HE1    0   -120.000
  O     8    523   515  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CG -CB -CA      2 1      0.50
  SD -CG -CB      2 1      0.50
  CE -SD -CG      2 1      0.50
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  SD -CG -HG1     0 1      0.00
  SD -CG -HG2     0 1      0.00
  HG1-CG -CB      0 1      0.00
  HG1-CG -HG2     0 1      0.00
  HG2-CG -CB      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  SD -CG -CB -CA  2 1     10.00
  SD -CG -CB -HB1 0 1      0.00
  SD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00
  HG1-CG -CB -HB1 0 1      0.00
  HG1-CG -CB -HB2 0 1      0.00
  HG2-CG -CB -CA  0 1      0.00
  HG2-CG -CB -HB1 0 1      0.00
  HG2-CG -CB -HB2 0 1      0.00
  CE -SD -CG -CB  2 1     15.00
  CE -SD -CG -HG1 0 1      0.00
  CE -SD -CG -HG2 0 1      0.00
  HE1-CE -SD -CG  2 1     15.00
  HE2-CE -SD -CG  0 1      0.00
  HE3-CE -SD -CG  0 1      0.00
#####################################
#
#
# GLYCINE    - NEUTRAL             
#                  O  HA1 HN   
#                  |  |   |   
#                --C--CA--N--
#                     |
#                     HA2
#
##################################################
#
RESIDUE     GLY
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   524   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA     9   526   259  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   261  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   525   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  HA1   10   527   260  CA    0      1.090  N      0    109.500  C      0    120.000
  HA2   10   527   260  CA    0      1.090  N      0    109.500  C      0   -120.000
  O      8   523   262  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
DIHEDRALS ############################
#
#
# LYSINE  BASIC
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1    
#                      |
#                 HG2-CG-HG1
#                      |
#                 HD2-CD-HD1  
#                      |
#                 HE2-CE-HE1
#                      |
#                 HZ1--NZ--HZ3
#                      |
#                      HZ2
#
##################################################
#
RESIDUE     LYS
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N    186   729   463  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   188   731   465  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C    200   743   477  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN   187   730   464  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   190   733   467  CA    0      1.535  N      0    111.100  C      0   -120.000
  CG   192   735   469  CB    0      1.527  CA     0    112.500  N      0    180.000
  CD   194   737   471  CG    0      1.526  CB     0    112.500  CA     0    180.000
  CE   196   739   473  CD    0      1.528  CG     0    112.500  CB     0    180.000
  NZ   198   741   475  CE    0      1.472  CD     0    111.700  CG     0    180.000
  HZ1  199   742   476  NZ    0      1.010  CE     0    109.470  CD     0    180.000
  HZ2  199   742   476  NZ    0      1.010  CE     0    109.470  HZ1    0   -120.000
  HZ3  199   742   476  NZ    0      1.010  CE     0    109.470  HZ1    0    120.000
  HA   189   732   466  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  191   734   468  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  191   734   468  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1  193   736   470  CG    0      1.090  CB     0    109.500  CD     0    120.000
  HG2  193   736   470  CG    0      1.090  CB     0    109.500  CD     0   -120.000
  HD1  195   738   472  CD    0      1.090  CG     0    109.500  CE     0    120.000
  HD2  195   738   472  CD    0      1.090  CG     0    109.500  CE     0   -120.000
  HE1  197   740   474  CE    0      1.090  CD     0    109.500  NZ     0    120.000
  HE2  197   740   474  CE    0      1.090  CD     0    109.500  NZ     0   -120.000
  O    201   744   478  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  CB -CA -N       2 1      0.50
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  CD -CG -HG1     0 1      0.00
  CD -CG -CB      2 1      0.50
  CD -CG -HG2     0 1      0.00
  HG1-CG -CB      0 1      0.00
  HG1-CG -HG2     0 1      0.00
  HG2-CG -CB      0 1      0.00
  CE -CD -HD1     0 1      0.00
  CE -CD -CG      2 1      0.50
  CE -CD -HD2     0 1      0.00
  HD1-CD -CG      0 1      0.00
  HD1-CD -HD2     0 1      0.00
  HD2-CD -CG      0 1      0.00
  NZ -CE -HE1     0 1      0.00
  NZ -CE -CD      2 1      0.50
  NZ -CE -HE2     0 1      0.00
  HE1-CE -CD      0 1      0.00
  HE1-CE -HE2     0 1      0.00
  HE2-CE -CD      0 1      0.00
  HZ1-NZ -HZ2     0 1      0.00
  HZ1-NZ -CE      2 1      0.50
  HZ1-NZ -HZ3     0 1      0.00
  HZ2-NZ -CE      2 1      0.50
  HZ2-NZ -HZ3     0 1      0.00
  HZ3-NZ -CE      2 1      0.50
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD -CG -CB -CA  2 1      5.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00
  HG1-CG -CB -HB1 0 1      0.00
  HG1-CG -CB -HB2 0 1      0.00
  HG2-CG -CB -CA  0 1      0.00
  HG2-CG -CB -HB1 0 1      0.00
  HG2-CG -CB -HB2 0 1      0.00
  CE -CD -CG -CB  2 1     10.00
  CE -CD -CG -HG1 0 1      0.00
  CE -CD -CG -HG2 0 1      0.00
  HD1-CD -CG -CB  0 1      0.00
  HD1-CD -CG -HG1 0 1      0.00
  HD1-CD -CG -HG2 0 1      0.00
  HD2-CD -CG -CB  0 1      0.00
  HD2-CD -CG -HG1 0 1      0.00
  HD2-CD -CG -HG2 0 1      0.00
  NZ -CE -CD -CG  2 1     10.00
  NZ -CE -CD -HD1 0 1      0.00
  NZ -CE -CD -HD2 0 1      0.00
  HE1-CE -CD -CG  0 1      0.00
  HE1-CE -CD -HD1 0 1      0.00
  HE1-CE -CD -HD2 0 1      0.00
  HE2-CE -CD -CG  0 1      0.00
  HE2-CE -CD -HD1 0 1      0.00
  HE2-CE -CD -HD2 0 1      0.00
  HZ1-NZ -CE -CD  2 1     15.00
  HZ1-NZ -CE -HE1 0 1      0.00
  HZ1-NZ -CE -HE2 0 1      0.00
  HZ2-NZ -CE -CD  0 1      0.00
  HZ2-NZ -CE -HE1 0 1      0.00
  HZ2-NZ -CE -HE2 0 1      0.00
  HZ3-NZ -CE -CD  0 1      0.00
  HZ3-NZ -CE -HE1 0 1      0.00
  HZ3-NZ -CE -HE2 0 1      0.00
  HZ2-NZ -CE -HZ1 2 0      5.00
  HZ3-NZ -CE -HZ1 2 0      5.00
###########################################
#
#
# ARGININE   BASIC
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1    
#                      |
#                 HG2-CG-HG1
#                      |
#                 HD2-CD-HD1
#                      |
#                      NE--HE
#                      |
#            H11--NH1--CZ--NH2--H21
#                 |        |
#                 H12      H22
#
##################################################
#
RESIDUE     ARG
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N     67   599   333  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    69   601   335  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C     82   614   348  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN    68   600   334  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    71   603   337  CA    0      1.534  N      0    111.100  C      0   -120.000
  CG    73   605   339  CB    0      1.525  CA     0    121.100  N      0    180.000
  CD    75   607   341  CG    0      1.525  CB     0    112.500  CA     0    180.000
  NE    77   609   343  CD    0      1.476  CG     0    113.000  CB     0    180.000
  CZ    79   611   345  NE    0      1.343  CD     0    134.000  CG     0    180.000
  HE    78   610   344  NE    0      1.012  CD     0    107.900  CZ     0    180.000
  NH1   80   612   346  CZ    0      1.336  NE     0    121.300  CD     0      0.000
  H11   81   613   347  NH1   0      1.012  CZ     0    120.700  NE     0      0.000
  H12   81   613   347  NH1   0      1.012  CZ     0    123.300  H11    0    180.000
  NH2   80   612   346  CZ    0      1.336  NE     0    119.400  NH1    0    180.000
  H21   81   613   347  NH2   0      1.012  CZ     0    122.100  NE     0      0.000
  H22   81   613   347  NH2   0      1.012  CZ     0    122.400  H21    0    180.000
  HA    70   602   336  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   72   604   338  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2   72   604   338  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1   74   606   340  CG    0      1.090  CB     0    109.500  CD     0    120.000
  HG2   74   606   340  CG    0      1.090  CB     0    109.500  CD     0   -120.000
  HD1   76   608   342  CD    0      1.090  CG     0    109.500  NE     0    120.000
  HD2   76   608   342  CD    0      1.090  CG     0    109.500  NE     0   -120.000
  O     83   615   349  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  CB -CA -N       2 1      0.50
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  CD -CG -HG1     0 1      0.00
  CD -CG -CB      2 1      0.50
  CD -CG -HG2     0 1      0.00
  HG1-CG -CB      0 1      0.00
  HG1-CG -HG2     0 1      0.00
  HG2-CG -CB      0 1      0.00
  NE -CD -HD1     0 1      0.00
  NE -CD -CG      2 1      0.50
  NE -CD -HD2     0 1      0.00
  HD1-CD -CG      0 1      0.00
  HD1-CD -HD2     0 1      0.00
  HD2-CD -CG      0 1      0.00
  HE -NE -CD      2 1      0.50
  HE -NE -CZ      0 1      0.00
  CZ -NE -CD      2 1      0.50
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD -CG -CB -CA  2 1      5.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00
  HG1-CG -CB -HB1 0 1      0.00
  HG1-CG -CB -HB2 0 1      0.00
  HG2-CG -CB -CA  0 1      0.00
  HG2-CG -CB -HB1 0 1      0.00
  HG2-CG -CB -HB2 0 1      0.00
  NE -CD -CG -CB  2 1     10.00
  NE -CD -CG -HG1 0 1      0.00
  NE -CD -CG -HG2 0 1      0.00
  HD1-CD -CG -CB  0 1      0.00
  HD1-CD -CG -HG1 0 1      0.00
  HD1-CD -CG -HG2 0 1      0.00
  HD2-CD -CG -CB  0 1      0.00
  HD2-CD -CG -HG1 0 1      0.00
  HD2-CD -CG -HG2 0 1      0.00
  CZ -NE -CD -CG  2 1     10.00
  CZ -NE -CD -HD1 0 1      0.00
  CZ -NE -CD -HD2 0 1      0.00
  HE -NE -CD -CG  0 1      0.00
  HE -NE -CD -HD1 0 1      0.00
  HE -NE -CD -HD2 0 1      0.00
#############################################
#
#
# CYSTEINE    - NEUTRAL             
#                  O  HA  HN   
#                  |   |  |   
#                --C--CA--N-- 
#                      |      
#                 HB2-CB-HB1 
#                      |
#                      SG--HG     
#
##################################################
#
RESIDUE     CYS
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   755   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   213   757   490  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   496  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   756   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   215   759   492  CA    0      1.544  N      0    111.100  C      0   -120.000
  SG   217   761   494  CB    0      1.813  CA     0    113.600  N      0    180.000
  HG   218   762   495  SG    0      1.346  CB     0     94.400  CA     0    180.000
  HA   214   758   491  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  216   760   493  CB    0      1.090  CA     0    109.500  SG     0    120.000
  HB2  216   760   493  CB    0      1.090  CA     0    109.500  SG     0   -120.000
  O      8   523   497  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  SG -CB -CA      2 1      0.50
  SG -CB -HB1     0 1      0.00
  SG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  HG -SG -CB      2 1      0.50
DIHEDRALS ############################
  SG -CB -CA -N   2 1     10.00
  SG -CB -CA -C   0 1      0.00
  SG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  HG -SG -CB -CA  2 1     15.00
  HG -SG -CB -HB1 0 1      0.00
  HG -SG -CB -HB2 0 1      0.00
########################################
#
#
# ASPARTIC ACID (protonated)   ACIDIC         
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                     CB     
#                      |
#                OD1--CG--OD2--HD1
#
##################################################
#
RESIDUE     ASH
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1     1     1  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   233   233   233  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7     7     7  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2     2     2  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   235   235   235  CA    0      1.530  N      0    111.100  C      0   -120.000
  CG   237   237   237  CB    0      1.517  CA     0    111.600  N      0    180.000
  OD1  238   238   238  CG    0      1.250  CB     0    108.000  CA     0    -90.000
  OD2  239   239   239  CG    0      1.364  CB     0    116.700  OD1    0    180.000
  HD1  240   240   240  OD1   0      0.945  CG     0    113.000  CB     0    180.000
  HA   234   234   234  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  236   236   236  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  236   236   236  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8     8     8  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  OD1-CG -CB      2 1      0.50
  OD2-CG -CB      2 1      0.50
  OD1-CG -OD2     0 1      0.00
  HD1-OD2-CG      2 1      0.50
DIHEDRALS ############################
  CG -CB -CA -N   2 1     10.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  OD1-CG -CB -CA  2 1     15.00
  OD1-CG -CB -HB1 0 1      0.00
  OD1-CG -CB -HB2 0 1      0.00
  OD2-CG -CB -CA  0 1      0.00
  OD2-CG -CB -HB1 0 1      0.00
  OD2-CG -CB -HB2 0 1      0.00
  HD1-OD1-CG -CB  2 1     15.00
  HD1-OD1-CG -OD2 0 1      0.00
#########################################
#
#
# VALINE    - NEUTRAL             
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                 CG1--CB--CG2      
#
##################################################
#
RESIDUE     VAL
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   569   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    43   571   303  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   309  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   570   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    45   573   305  CA    0      1.568  N      0    111.100  C      0   -120.000
  CG1   47   575   307  CB    0      1.532  CA     0    118.500  N      0    180.000
  CG2   47   575   307  CB    0      1.532  CA     0    118.500  CG1    0   -120.000
  HA    44   572   304  CA    0      1.090  N      0    109.500  C      0    120.000
  HB    46   574   306  CB    0      1.090  CA     0    109.500  CG1    0    120.000
  HG1   48   576   308  CG1   0      1.090  CB     0    109.500  CA     0    180.000
  HG2   48   576   308  CG1   0      1.090  CB     0    109.500  HG1    0    120.000
  HG3   48   576   308  CG1   0      1.090  CB     0    109.500  HG1    0   -120.000
  HG4   48   576   308  CG2   0      1.090  CB     0    109.500  CA     0    180.000
  HG5   48   576   308  CG2   0      1.090  CB     0    109.500  HG4    0    120.000
  HG6   48   576   308  CG2   0      1.090  CB     0    109.500  HG4    0   -120.000
  O      8   523   310  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG1-CB -CA      2 1      0.50
  CG1-CB -HB      0 1      0.00
  CG1-CB -CG2     0 1      0.00
  CG2-CB -CA      2 1      0.50
  CG2-CB -HB      0 1      0.00
  HB -CB -CA      0 1      0.00
DIHEDRALS ############################
  CG1-CB -CA -N   2 1     15.00
  CG1-CB -CA -C   0 1      0.00
  CG1-CB -CA -HA  0 1      0.00
  CG2-CB -CA -C   0 1      0.00
  CG2-CB -CA -N   0 1      0.00
  CG2-CB -CA -HA  0 1      0.00
  HB -CB -CA -N   0 1      0.00
  HB -CB -CA -C   0 1      0.00
  HB -CB -CA -HA  0 1      0.00
  HG1-CG1-CB -CA  2 1     15.00
  HG1-CG1-CB -HB  0 1      0.00
  HG1-CG1-CB -CG2 0 1      0.00
  HG2-CG1-CB -CA  0 1      0.00
  HG2-CG1-CB -HB  0 1      0.00
  HG2-CG1-CB -CG2 0 1      0.00
  HG3-CG1-CB -CA  0 1      0.00
  HG3-CG1-CB -HB  0 1      0.00
  HG3-CG1-CB -CG2 0 1      0.00
  HG4-CG2-CB -CA  2 1     15.00
  HG4-CG2-CB -HB  0 1      0.00
  HG4-CG2-CB -CG1 0 1      0.00
  HG5-CG2-CB -CA  0 1      0.00
  HG5-CG2-CB -HB  0 1      0.00
  HG5-CG2-CB -CG1 0 1      0.00
  HG6-CG2-CB -CA  0 1      0.00
  HG6-CG2-CB -HB  0 1      0.00
  HG6-CG2-CB -CG1 0 1      0.00
######################################
#
#
# TRYPTOPHAN    - NEUTRAL             
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                     CB  
#                      |
#                     CG         HE3
#                    //  \        |
#             HD1--CD1     CD2===CE3
#                   |     /         \ 
#             HNE--NE1--CE2         CZ3--HZ3
#                          \\       //
#                           CZ2--CH2
#                            |    |
#                           HZ2  HH2
#
##################################################
#
RESIDUE     TRP
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   661   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   126   663   395  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   414  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   662   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   128   665   397  CA    0      1.555  N      0    111.100  C      0   -120.000
  CG   130   667   399  CB    0      1.517  CA     0    117.300  N      0    180.000
  CD1  131   668   400  CG    0      1.340  CB     0    127.000  CA     0    180.000
  NE1  133   670   402  CD1   0      1.430  CG     0    107.000  CB     0    180.000
  HD1  132   669   401  CD1   0      1.090  CG     0    120.000  NE1    0    180.000
  CE2  135   672   404  NE1   0      1.310  CD1    0    109.000  CG     0      0.000
  HNE  134   671   403  NE1   0      1.010  CD1    0    125.500  CE2    0    180.000
  CZ2  136   673   405  CE2   0      1.400  NE1    0    128.000  CD1    0    180.000
  CH2  138   675   407  CZ2   0      1.390  CE2    0    116.000  NE1    0    180.000
  HZ2  137   674   406  CZ2   0      1.090  CE2    0    120.000  CH2    0    180.000
  CZ3  140   677   409  CH2   0      1.350  CZ2    0    121.000  CE2    0      0.000
  HH2  139   676   408  CH2   0      1.090  CZ2    0    120.000  CZ3    0    180.000
  CE3  142   679   411  CZ3   0      1.410  CH2    0    122.000  CZ2    0      0.000
  HZ3  141   678   410  CZ3   0      1.090  CH2    0    120.000  CE3    0    180.000
  CD2  144   681   413  CE3   0      1.400  CZ3    0    117.000  CH2    0      0.000
  HE3  143   680   412  CE3   0      1.090  CZ3    0    120.000  CD2    0    180.000
  HA   127   678   396  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  129   666   398  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  129   666   398  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8   523   415  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB2-CB -CA      0 1      0.00
  CD1-CG -CB      2 1      0.50
  CD2-CG -CB      0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD1-CG -CB -CA  2 1     10.00
  CD1-CG -CB -HB1 0 1      0.00
  CD1-CG -CB -HB2 0 1      0.00
  CD2-CG -CB -CA  0 1      0.00
  CD2-CG -CB -HB1 0 1      0.00
  CD2-CG -CB -HB2 0 1      0.00
########################################
#
#
# CYSTEINE    - NEUTRAL - IN DISULFIDE BRIDGE
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                     CB 
#                      |
#                      SG    
#
##################################################
#
RESIDUE     CYX
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   763   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   219   765   498  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   503  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   764   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   221   767   500  CA    0      1.544  N      0    111.100  C      0   -120.000
  SG   223   769   502  CB    0      1.813  CA     0    113.600  N      0    180.000
  HA   220   766   499  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  222   768   501  CB    0      1.090  CA     0    109.500  SG     0    120.000
  HB2  222   768   501  CB    0      1.090  CA     0    109.500  SG     0   -120.000
  O      8   523   504  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       0 1      0.00
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  SG -CB -CA      0 1      0.00
  SG -CB -HB1     0 1      0.00
  SG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
DIHEDRALS ############################
  SG -CB -CA -N   0 1      0.00
  SG -CB -CA -C   0 1      0.00
  SG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
######################################
#
#
# GLUTAMIC ACID   ACIDIC (protonated)
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                     CB    
#                      |
#                     CG
#                      |
#           HE1--OE1--CD--OE2
#
##################################################
#
RESIDUE     GLH
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1     1     1  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA   241   241   241  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7     7     7  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2     2     2  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB   243   243   243  CA    0      1.529  N      0    111.100  C      0   -120.000
  CG   245   245   245  CB    0      1.529  CA     0    112.700  N      0    180.000
  CD   247   247   247  CG    0      1.521  CB     0    112.300  CA     0    180.000
  OE1  248   248   248  CD    0      1.250  CG     0    108.000  CB     0    -90.000
  OE2  249   249   249  CD    0      1.364  CG     0    117.000  OE1    0    180.000
  HE1  250   250   250  OE1   0      0.945  CD     0    113.000  CG     0    180.000
  HA   242   242   242  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1  244   244   244  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2  244   244   244  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  HG1  246   246   246  CG    0      1.090  CB     0    109.500  CD     0    120.000
  HG2  246   246   246  CG    0      1.090  CB     0    109.500  CD     0   -120.000
  O      8     8     8  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -CA      2 1      0.50
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  CD -CG -CB      2 1      0.50
  CD -CG -HG1     0 1      0.00
  CD -CG -HG2     0 1      0.00
  HG1-CG -CB      0 1      0.00
  HG1-CG -HG2     0 1      0.00
  HG2-CG -CB      0 1      0.00
  OE1-CD -CG      2 1      0.50
  OE2-CD -CG      2 1      0.50
  OE1-CD -OE2     0 1      0.00
  HE1-OE1-CD      2 1      0.50
DIHEDRALS ############################
  CG -CB -CA -N   2 1      5.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  CD -CG -CB -CA  2 1     10.00
  CD -CG -CB -HB1 0 1      0.00
  CD -CG -CB -HB2 0 1      0.00
  HG1-CG -CB -CA  0 1      0.00
  HG1-CG -CB -HB1 0 1      0.00
  HG1-CG -CB -HB2 0 1      0.00
  HG2-CG -CB -CA  0 1      0.00
  HG2-CG -CB -HB1 0 1      0.00
  HG2-CG -CB -HB2 0 1      0.00
  OE1-CD -CG -CB  2 1     15.00
  OE1-CD -CG -HG1 0 1      0.00
  OE1-CD -CG -HG2 0 1      0.00
  OE2-CD -CG -CB  0 1      0.00
  OE2-CD -CG -HG1 0 1      0.00
  OE2-CD -CG -HG2 0 1      0.00
  HE1-OE1-CD -CG  2 1     15.00
  HE1-OE1-CD -OE2 0 1      0.00
#########################################
#
#
# SERINE    - NEUTRAL             
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                     CB      
#                      |
#                     OG--HG
#
##################################################
#
RESIDUE     SER
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   528   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    11   530   263  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   269  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   529   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    13   532   265  CA    0      1.543  N      0    111.100  C      0   -120.000
  OG    15   534   267  CB    0      1.427  CA     0    114.400  N      0    180.000
  HG    16   535   268  OG    0      0.965  CB     0    107.600  CA     0    180.000
  HA    12   531   264  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   14   533   266  CB    0      1.090  CA     0    109.500  OG     0    120.000
  HB2   14   533   266  CB    0      1.090  CA     0    109.500  OG     0   -120.000
  O      8   523   270  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  OG -CB -CA      2 1      0.50
  OG -CB -HB1     0 1      0.00
  OG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  HG -OG -CB      2 1      0.50
DIHEDRALS ############################
  OG -CB -CA -N   2 1     10.00
  OG -CB -CA -C   0 1      0.00
  OG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  HG -OG -CB -CA  2 1     15.00
  HG -OG -CB -HB1 0 1      0.00
  HG -OG -CB -HB2 0 1      0.00
#########################################
#
#
# ISOLEUCINE    - NEUTRAL             
#                  O     HN   
#                  |      |   
#                --C--CA--N-- 
#                      |      
#                     CB--CG2
#                      |
#                     CG1
#                      |
#                     CD
#
##################################################
#
RESIDUE     ILE
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   557   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    33   559   291  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   301  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   558   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    35   561   293  CA    0      1.568  N      0    111.100  C      0   -120.000
  CG1   39   565   297  CB    0      1.532  CA     0    122.000  N      0    180.000
  CG2   37   563   295  CB    0      1.532  CA     0    111.000  CG1    0   -120.000
  CD1   41   567   299  CG1   0      1.532  CB     0    123.800  CA     0    180.000
  HA    34   560   292  CA    0      1.090  N      0    109.500  C      0    120.000
  HB    36   562   294  CB    0      1.090  CA     0    109.500  CG1    0    120.000
  HG1   40   566   298  CG1   0      1.090  CB     0    109.500  CD1    0    120.000
  HG2   40   566   298  CG1   0      1.090  CB     0    109.500  CD1    0   -120.000
  HG3   38   564   296  CG2   0      1.090  CB     0    109.500  CA     0    180.000
  HG4   38   564   296  CG2   0      1.090  CB     0    109.500  HG3    0    120.000
  HG5   38   564   296  CG2   0      1.090  CB     0    109.500  HG3    0   -120.000
  HD1   42   568   300  CD1   0      1.090  CG1    0    109.500  CB     0    180.000
  HD2   42   568   300  CD1   0      1.090  CG1    0    109.500  HD1    0    120.000
  HD3   42   568   300  CD1   0      1.090  CG1    0    109.500  HD1    0   -120.000
  O      8   523   302  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG1-CB -CA      2 1      0.50
  CG1-CB -HB      0 1      0.00
  CG1-CB -CG2     0 1      0.00
  HB -CB -CA      0 1      0.00
  HB -CB -CG2     0 1      0.00
  CG2-CB -CA      2 1      0.50
  CD -CG1-CB      2 1      0.50
  CD -CG1-HG1     0 1      0.00
  CD -CG1-HG2     0 1      0.00
  HG1-CG1-CB      0 1      0.00
  HG1-CG1-HG2     0 1      0.00
  HG2-CG1-CB      0 1      0.00
DIHEDRALS ############################
  CG1-CB -CA -N   2 1     10.00
  CG1-CB -CA -C   0 1      0.00
  CG1-CB -CA -HA  0 1      0.00
  CG2-CB -CA -N   0 1      0.00
  CG2-CB -CA -C   0 1      0.00
  CG2-CB -CA -HA  0 1      0.00
  HB -CB -CA -N   0 1      0.00
  HB -CB -CA -C   0 1      0.00
  HB -CB -CA -HA  0 1      0.00
  CD -CG1-CB -CA  2 1     15.00
  CD -CG1-CB -CG2 0 1      0.00
  CD -CG1-CB -HB  0 1      0.00
  HG1-CG1-CB -CA  0 1      0.00
  HG1-CG1-CB -CG2 0 1      0.00
  HG1-CG1-CB -HB  0 1      0.00
  HG2-CG1-CB -CA  0 1      0.00
  HG2-CG1-CB -CG2 0 1      0.00
  HG2-CG1-CB -HB  0 1      0.00
  HG3-CG2-CB -CA  2 1     15.00
  HG3-CG2-CB -CG1 0 1      0.00
  HG3-CG2-CB -HB  0 1      0.00
  HG4-CG2-CB -CA  0 1      0.00
  HG4-CG2-CB -CG1 0 1      0.00
  HG4-CG2-CB -HB  0 1      0.00
  HG5-CG2-CB -CA  0 1      0.00
  HG5-CG2-CB -CG1 0 1      0.00
  HG5-CG2-CB -HB  0 1      0.00
  HD1-CD -CG1-CB  2 1     15.00
  HD1-CD -CG1-HG1 0 1      0.00
  HD1-CD -CG1-HG2 0 1      0.00
  HD2-CD -CG1-CB  0 1      0.00
  HD2-CD -CG1-HG1 0 1      0.00
  HD2-CD -CG1-HG2 0 1      0.00
  HD3-CD -CG1-CB  0 1      0.00
  HD3-CD -CG1-HG1 0 1      0.00
  HD3-CD -CG1-HG2 0 1      0.00
######################################
#
# ASPARAGINE  - NEUTRAL    
#                  O     HN    
#                  |      |    
#                --C--CA--N--  
#                      |       
#                     CB       
#                      |
#                     CG==OD1
#                      |
#                 HD1--ND2--HD2
#
##################################################
#
RESIDUE     ASN
ATOMS ################################
# NAM  #M#   #N#   #C#  ###### Bnd #######  ########## Ang ####  ######## Dih ######
  N      1   577   251  C    -1      1.335  CA    -1    116.600  N     -1    180.000
  CA    49   579   311  N     0      1.449  C     -1    121.900  CA    -1    180.000
  C      7   522   319  CA    0      1.522  N      0    111.100  C     -1    180.000
  HN     2   578   252  N     0      1.010  C     -1    119.800  CA     0    180.000
  CB    51   581   313  CA    0      1.535  N      0    111.100  C      0   -120.000
  CG    52   583   315  CB    0      1.524  CA     0    113.400  N      0    180.000
  ND2   54   585   317  CG    0      1.327  CB     0    118.400  CA     0    180.000
  HD1   55   586   318  ND2   0      1.008  CG     0    119.200  CB     0    180.000
  HD2   55   586   318  ND2   0      1.008  CG     0    119.200  HD1    0    180.000
  OD1   53   584   316  CG    0      1.223  CB     0    120.900  ND2    0    180.000
  HA    50   580   312  CA    0      1.090  N      0    109.500  C      0    120.000
  HB1   56   582   314  CB    0      1.090  CA     0    109.500  CG     0    120.000
  HB2   56   582   314  CB    0      1.090  CA     0    109.500  CG     0   -120.000
  O      8   523   320  C     0      1.229  CA     0    120.500  N      1    180.000
BONDS ################################
ANGLES ###############################
  CB -CA -N       2 1      0.50
  CB -CA -C       0 1      0.00
  CB -CA -HA      0 1      0.00
  C  -CA -HA      0 1      0.00
  C  -CA -N       0 1      0.00
  HA -CA -N       0 1      0.00
  CG -CB -CA      2 1      0.50
  CG -CB -HB1     0 1      0.00
  CG -CB -HB2     0 1      0.00
  HB1-CB -CA      0 1      0.00
  HB1-CB -HB2     0 1      0.00
  HB2-CB -CA      0 1      0.00
  OD1-CG -CB      2 1      0.50
  ND2-CG -CB      2 1      0.50
  ND2-CG -OD1     0 1      0.00
DIHEDRALS ############################
  CG -CB -CA -N   2 1     10.00
  CG -CB -CA -C   0 1      0.00
  CG -CB -CA -HA  0 1      0.00
  HB1-CB -CA -N   0 1      0.00
  HB1-CB -CA -C   0 1      0.00
  HB1-CB -CA -HA  0 1      0.00
  HB2-CB -CA -N   0 1      0.00
  HB2-CB -CA -C   0 1      0.00
  HB2-CB -CA -HA  0 1      0.00
  ND2-CG -CB -CA  2 1     10.00
  ND2-CG -CB -HB1 0 1      0.00
  ND2-CG -CB -HB2 0 1      0.00
  OD1-CG -CB -CA  0 1      0.00
  OD1-CG -CB -HB1 0 1      0.00
  OD1-CG -CB -HB2 0 1      0.00
  HD1-ND2-CG -CB  2 1     15.00
  HD1-ND2-CG -OD1 0 1      0.00
  HD2-ND2-CG -OD1 0 1      0.00
  HD2-ND2-CG -OD1 0 1      0.00
#
END OF FILE
